<ion-header>
  <ion-toolbar>
    <ion-title>Proposal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  	<ion-item>
      <ion-label>Proposal Title</ion-label>
      <ion-input [(ngModel)]="proposalTitle" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Proposal Type</ion-label>
      <ion-select [(ngModel)]="proposalType" value="Development" >
        <ion-select-option value="Development">Development</ion-select-option>
        <ion-select-option value="Research">Research</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Proposal Form</ion-label>
    	<input type="file" (change)="fileSelected($event)">
    </ion-item>

  </ion-list>

  <ion-button style="--background:#81163F" *ngIf="operation == 'create'" (click)="submit()">Add</ion-button>
  <ion-button color="warning" *ngIf="operation == 'update'" (click)="submit()">Edit</ion-button>
</ion-content>
